<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>AK Resources - DB</title>

    <!-- JQuery -->
    <script src="~/Content/JQuery/jquery-3.2.1.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

    <!-- JQuery DataTables -->
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <style>
        body {
            background-repeat: no-repeat;
            background-image: url('../../Content/Resources/Images/Rainmist_Reach_Haunted_Passage.png');
            background-attachment: fixed;
            background-position: center;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="navbar-brand" src="~/Content/Resources/Images/Cube_of_Gaia.png" />
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">Aura Kingdom Resources</a>
            </div>
            <div class="navbar-right">
                @if (Session["Username"] == null)
                {
                    <a id="loginLink" href="@Url.Action("Login", "User")" class="btn btn-default navbar-btn">Login</a>
                    <a id="signUpLink" href="@Url.Action("SignUp", "User")" class="btn btn-success navbar-btn">Sign up</a>
                }
                else
                {
                    @Html.Label("Logged in as " + Session["Username"].ToString(), new { style = "color:white;" })
                    <a id="editProfileLink" href="@Url.Action("Account", "User", new { @id = Session["UserId"] })" class="btn btn-default navbar-btn">Edit Profile</a>
                    <a id="signUpLink" href="@Url.Action("LogOut", "User")" class="btn btn-default navbar-btn">Log out</a>
                }
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            @{
                Html.RenderAction("RenderDropdowns", "Home");
            }
        </div>
        <div style="margin-bottom:10%">
            @RenderBody()
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom navbar-default">
        <div class="container-fluid">
            <p class="navbar-text">All Rights Reserved - 2017</p>
        </div>
    </nav>
</body>
</html>