<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DatGuild - DB</title>

    <!-- JQuery -->
    <script src="~/Content/JQuery/jquery-3.2.1.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

    <!-- JQuery DataTables -->
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <style>
        body {
            background-repeat: no-repeat;
            background-image: url('../../Content/Resources/Images/Aura_Kingdom_Artwork_2.jpg');
            background-attachment: fixed;
            background-position: center;
        }

        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #container {
            min-height: 100%;
            position: relative;
        }

        #header {
        }

        #body {
            padding: 0.5%;
            padding-bottom: 7%;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div id="header">
            <nav class="navbar form-inline" style="background-color:black; margin-top:0.5%; margin-bottom:0.5%; padding-bottom:0.5%; margin-left:1.3%; margin-right:1.3%">
                <div style="float:right; margin-top:0.5%; margin-right: 0.5%">
                    @if (Session["Username"] == null)
                    {
                        <a id="loginLink" href="@Url.Action("Login", "User")" class="btn btn-default">Login</a>
                        <a id="signUpLink" href="@Url.Action("SignUp", "User")" class="btn btn-default">Sign up</a>
                    }
                    else
                    {
                        @Html.Label("Logged in as " + Session["Username"].ToString(), new { style = "color:white;" })
                        <a id="editProfileLink" href="@Url.Action("Account", "User")" class="btn btn-default">Edit Profile</a>
                        <a id="signUpLink" href="@Url.Action("LogOut", "User")" class="btn btn-default">Log out</a>
                    }
                </div>
            </nav>
            <div class="text-center col-xs-12" style="margin-top:0%">
                <h1>
                    <label>
                        <a href="@Url.Action("Index", "Home")" style="text-decoration:none;">Aura Kingdom - Refining Resources</a>
                    </label>
                </h1>
            </div>
        </div>
        <div id="body">
            @{
                Html.RenderAction("RenderDropdowns", "Home");
            }
            @RenderBody()
        </div>
        <div class="card container-fluid text-center img-rounded" style="background-color:white; margin-bottom: 1%; width:97.5%">
            <div class="card-footer text-muted">
                <h5>All Rights Reserved - 2017</h5>
            </div>
        </div>
    </div>
</body>
</html>