<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DatGuild - DB</title>

    <!-- JQuery -->
    <script src="~/Content/JQuery/jquery-3.2.1.js"></script>

    <!-- Bootstrap -->
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/bootstrap-theme.css" rel="stylesheet" />

    <!-- JQuery DataTables -->
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        <div class="page-header text-center col-xs-12">
            <h1>
                <label>Aura Kingdom - Refining Resources</label>
            </h1>
            <div>
                @if (Session["Username"] == null)
                {
                    <a id="loginLink" href="@Url.Action("Login", "User")" class="btn btn-default">Login</a>
                    <a id="signUpLink" href="@Url.Action("SignUp", "User")" class="btn btn-default">Sign up</a>
                }
                else
                {
                    @Html.Label("Logged in as " + Session["Username"].ToString())
                    <a id="signUpLink" href="@Url.Action("LogOut", "User")" class="btn btn-default">Log out</a>
                }
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>