@model AK_Website_Project.Models.ViewModels.User.UserLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <script type="text/javascript">
        var loginLink = $("#loginLink");
        if (loginLink != null) {
            loginLink.hide();
        }
    </script>
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="card text-center img-rounded" style="margin-right:25%; margin-left:25%; background-color:white; padding:1%;">
            <div class="card-header">
                <h4 class="card-title">Login into your account</h4>
                <p class="card-text">Fill out this form</p>
            </div>
            <div class="card-body">
                <div class="from-group">
                    <div class="input-group" style="width:75%; margin-left:12.5%; margin-bottom:1%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color:red;" })
                </div>
                <div class="from-group">
                    <div class="input-group" style="width:75%; margin-left:12.5%; margin-bottom:1%">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red;" })
                </div>
            </div>
            <div class="card-footer">
                <h5>Don't have an account? @Html.ActionLink("Sign up!", "SignUp", "User")</h5>
                <button type="submit" value="Login" class="btn btn-success">Login</button>
                <br />
                @Html.ValidationMessage("LoginError", new { @style = "color:red;" })
            </div>
        </div>
    }
</div>



