@model AK_Website_Project.Models.ViewModels.User.UserRegisterViewModel

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center container">
    <script type="text/javascript">
        var signUp = $("#signUpLink");
        if (signUp != null) {
            signUp.hide();
        }
    </script>
    @using (Html.BeginForm("SignUp", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="card text-center img-rounded" style="width:50%; margin-left:25%; background-color:white; padding:1%;">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Sign up for an account</h4>
                        <p class="card-text">Fill out this form</p>
                    </div>
                    <div class="card-block text-center" style="float:none">
                        <div class="from-group">
                            <div class="input-group" style="width:75%; margin-left:12.5%; margin-bottom:1%">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Username, "", new { @style = "color:red;" })
                        </div>

                        <div class="from-group">
                            <div class="input-group" style="width:75%; margin-left:12.5%; margin-bottom:1%">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red;" })
                        </div>

                        <div class="from-group">
                            <div class="input-group" style="width:75%; margin-left:12.5%; margin-bottom:1%">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-enter password" })
                            </div>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @style = "color:red;" })
                        </div>
                    </div>
                    <div class="card-footer">
                        <h5>Already have an account? @Html.ActionLink("Log in!", "Login", "User")</h5>
                        <button type="submit" class="btn btn-success">Create account</button>
                        <br />
                        @Html.ValidationMessage("SignUpError", new { @style = "color:red;" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
