@model AK_Website_Project.Models.ViewModels.Home.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @*<script type="text/javascript">
        //$(document).ready(function () {
        //    $("#homeSearchTable").DataTable({
        //        "processing": true, // for show progress bar
        //        "serverSide": true, // for process server side
        //        "filter": false, 
        //        "orderMulti": false, // for disable multiple column at once
        //        "dom": '<"top"if>rt<"bottom"lp><"clear">',
        //        "ajax": {
        //            "url": "/Home/LoadDataTable",
        //            "type": "POST",
        //            "datatype": "json"
        //        },
        //        "columns": [
        //            { "data": "Name", "name": "Name", "autoWidth": true },
        //            { "data": "SubCategoryId", "name": "SubCategoryId", "autoWidth": true },
        //            { "data": "QualityLevelId", "name": "QualityLevelId", "autoWidth": true },
        //        ]
        //    });
        //});

        $('#homeSearchTable').DataTable({
            "processing": true, // for show processing bar
            "serverSide": true, // for process on server side
            "orderMulti": false, // for disable multi column order
            "dom": '<"top"i>rt<"bottom"lp><"clear">',
            "ajax": {
                "url": "/home/LoadDataTable",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "SubCategoryId", "name": "SubCategoryId", "autoWidth": true },
                { "data": "QualityLevelId", "name": "QualityLevelId", "autoWidth": true },
            ]
        });

        //Apply Custom search on jQuery DataTables here
        oTable = $('#homeSearchTable').DataTable();
        $('#btnSearch').click(function () {
            //Apply search for Employee Name // DataTable column index 0
            oTable.columns(0).search($('#txtItemName').val().trim());
            //hit search on server
            oTable.draw();
        });

    </script>*@


    <script>
        $(document).ready(function () {

            //jQuery DataTables initialization
            $('#homeSearchTable').DataTable({
                "processing": true, // for show processing bar
                "serverSide": true, // for process on server side
                "orderMulti": false, // for disable multi column order
                "dom": '<"top"i>rt<"bottom"lp><"clear">', // for hide default global search box // little confusion? don't worry I explained in the tutorial website
                "ajax": {
                    "url": "/Home/LoadDataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "SubCategoryId", "name": "SubCategoryId", "autoWidth": true },
                    { "data": "QualityLevelId", "name": "QualityLevelId", "autoWidth": true },
                ]
            });

            //Apply Custom search on jQuery DataTables here
            oTable = $('#homeSearchTable').DataTable();
            $('#btnSearch').click(function () {
                //Apply search for Employee Name // DataTable column index 0
                oTable.columns(0).search($('#txtItemName').val());
                //hit search on server
                oTable.draw();
            });
        });
    </script>

    <div class="form-group">
        <div>
            <div class="col-xs-2 dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    Crafting
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- Subject to change, still need to enter quite a bit of data -->
                    @foreach (var item in Model.CraftingList)
                    {
                        <li><a href="#">@item</a></li>
                    }
                </ul>
            </div>

            <div class="col-xs-2 dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    Fishing
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- Subject to change, still need to enter quite a bit of data -->
                    @foreach (var item in Model.FishingList)
                    {
                        <li><a href="#">@item</a></li>
                    }
                </ul>
            </div>

            <div class="col-xs-2 dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    Gathering
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- Subject to change, still need to enter quite a bit of data -->
                    @foreach (var item in Model.GatheringList)
                    {
                        <li><a href="#">@item</a></li>
                    }
                </ul>
            </div>

            <div class="col-xs-2 dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    Alchemy
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- Subject to change, still need to enter quite a bit of data -->
                    @foreach (var item in Model.AlchemyList)
                    {
                        <li><a href="#">@item</a></li>
                    }
                </ul>
            </div>

            <div class="col-xs-2 dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    Cooking
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- Subject to change, still need to enter quite a bit of data -->
                    @foreach (var item in Model.CookingList)
                    {
                        <li><a href="#">@item</a></li>
                    }
                </ul>
            </div>
            <div class="col-xs-2 dropdown" style="margin-bottom: 2%">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                    Placeholder
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <!-- Subject to change, still need to enter quite a bit of data -->
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <hr />
            <div class="col-xs-12" style="background-color:#f5f5f5;">
                <h4>Search Panel</h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Item Name</td>
                            <td><input type="text" id="txtItemName" /></td>
                            <td>
                                <input type="button" value="Search" id="btnSearch" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12">
                <table id="homeSearchTable" class="table-bordered table table-responsive table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Item name</th>
                            <th>Sub Category</th>
                            <th>Quality Level</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

