@model AK_Website_Project.Models.ViewModels.Item.ItemViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!--Fil d'ariane-->
    <h5>
        <a href="/Home/Index">Home</a>
        | <a href="@string.Format("/Category/View/" + Model.SubCategory.ParentCategoryId)">@Model.SubCategory.Category.Name</a>
        | <a href="@string.Format("/SubCategory/View/" + Model.SubCategoryId)">@Model.SubCategory.Name</a>
    </h5>
</div>

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayName("Quality Level")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualityLevel.Name)
        </dd>

        <dt>
            @Html.DisplayName("Sub Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.Name)
        </dd>
    </dl>
    <div id="divComments">
        <ul>
            @foreach (var item in Model.Comments)
            {
                <li>@string.Format(item.User.Username + ": " + item.Content)</li>
            }
        </ul>
        <div class="img-rounded">
            @if (Session["Username"] != null)
            {
                @Html.BeginForm("PostComment", "Item", FormMethod.Post)
                {

                }
            }
            else
            {
                <h3>You must be logged in to leave a comment.</h3>
            }
        </div>
    </div>
</div>
